/*
* Lab 9 -  Restaurant Site V6
* External CSS File
*/

/* Site Title Font*/
@font-face{
   font-family:"remachineFont";
    src: url('fonts/RemachineScript_Personal_Use.ttf');
}

/*Site Title Stylings*/
#siteTitle h1 {
    font-family: remachineFont;
    font-size: 74px;
    color: #ff3300;
    margin: 0px;
}

/*Spacer*/
#pageBorder{
    padding-bottom: 120px;
    border-top: 5px #eee;
}

/*Navigation Header*/
#navBody nav {
    background: #ffa500;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffe4b3, orange);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffe4b3, orange);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #CCCC99, orange);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffe4b3, #ffa500);
    /* Standard syntax */
    font-size: 22px;
}
#navBody nav a:hover {
    background-color: #ffa500;
}
#restaurantInfo {
    font-size: 18px;
    margin-top: 20px;
}
#restaurantInfo table {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    width: 50%;
    max-height: 50%;
    height: ma-height;
}

/*Restaurant Info News*/
#restaurantNews{
    background: radial-gradient(circle, #006600, #ffff00, #ffe4b3);
    border-color: none;
    font-family: cursive;
    color: red;
}
#restaurantNews p{
    color: black;
}

/*Restaurant Images*/
#myImg img {
    margin: 0 auto;
}

#formCheckBox label{
    padding-right: 20px;
}


/*Restaurant Menu Styling*/
#menuTop table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
#menuTop table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#menuBottom table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
#menuBottom table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Restaurant Contact Us Form Page*/
form{
    font-size: 20px;
}
form input[type=radio] {
    width: 25px;  height: 25px;
    vertical-align: text-bottom;
}
form input[type=checkbox] {
    width: 20px;  height: 20px;
}
#menu{
    text-align: center;
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
}
#menu p{
    font-size: 18px;
}
#menu h3{
    font-weight: 600;
/*    font-size: 22px;*/
}

/*Site Footer*/
#restaurantFooter{
    font-size: 18px;
    background: linear-gradient(to bottom, orange, #ffe4b3, #ffe4b3); /* Standard syntax */
    border-top: 5px #eee solid;
}


/*Carousel Font*/
@font-face{
   font-family: "carouselFont";
    src: url('fonts/Lazy Spring Day Demo.ttf');      
}
/* Carousel Styling*/
#restaurantCarousel h3{ 
    text-align: center;
/*    background-color: rgba(215,215,215, 0.2);*/
    background-blend-mode: color;
    color: #00CC66 ;
    font-size: 34px;
/*    font-weight: 900;*/
    font-family: cursive;
    margin-bottom: -20px;
    border-color: none;
}

/*Carousel Caption Responsive Check*/
@media only screen and (max-width: 500px) {
    #restaurantCarousel h3{
        font-size: 20px !important;
        margin-bottom: -20px !important;
    }
}
@media only screen and (max-width: 400px) {
    #restaurantCarousel h3{
        font-size: 16px !important;
        margin-bottom: -20px !important;
    }
}
@media only screen and (max-width: 300px) {
    #restaurantCarousel h3{
        font-size: 11px !important;
        margin-bottom: -35px !important;
    }
}
