/*
* External Style Sheet. Any HTML file can reference these CSS stylings
* Lab 3: Album Page v 3
*/


body{
    text-align: center;
    align-content: center;    
    background-color: beige;
    font-size: 17px;
    /* Fonts: Serif, Sans-Serif, Monospace, Cursive, Fantasy */
    font-family: cursive;
}
div{
    margin-top: 5px;
}
    
a{
    text-decoration: none;
    color:forestgreen;
    font-size: 20px;
    font-family: monospace;
}
a:hover{
    color:blue;
    font-family: cursive;
    text-decoration: underline;
}

#image{
    background-image: url("http://www.bobmarley.com/wp-content/uploads/2013/10/Bob-Marley_Exodus.jpg");		
    background-repeat: round;
    width: 350px; height: 300px;
    display: inline-block;
}

.albumImage {
    background-image: url("http://www.bobmarley.com/wp-content/uploads/2013/10/Bob-Marley_Exodus.jpg");		
    background-repeat: round;
    width: 400px; height: 350px;
}

img{
    justify-content: center;
    width:350px; height:300px;
}

ul{
    text-align:left;
    font-family: monospace;
    font-style:italic;
}

.border{
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 5px solid orange;
}

th{
    background-color: springgreen;
    width: 100px;
}

td{    
    color: dimgray;
}

#trackTable{
    table-layout: fixed;
    border-color: darkgreen;
    width: 100%;
}




/* Embed a font (not used)*/
@font-face {
		font-family: "Foundry Name Class Styles";
		font-style: normal;
		font-weight: 500;
		src: url("http://path.to/myfont.woff2");
	}









