/*
* CSS - Lab1: Album Page Style Sheet
*/


/*
Change URL color after clicked
*/
	a:visited {
		color: Red;
	}
/*
Change URL color when hovered
*/
	a:hover {
	 text-decoration: none;
	 color: #00C; 
	 font-family: cursive;
	}

/*
	a:active {
		font-weight:bold;
	}
	
*/
	
	