/*
* Lab 8 -  Restaurant Site V5
* External CSS File
*/
#siteTitle h1 {
    font-family: serif;
    color: white;
}

/*Spacer*/
#pageBorder{
    padding-bottom: 120px;
    border-top: 5px #eee;
}

/*Navigation Header*/
#navBody nav {
    background: #ffa500;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffe4b3, orange);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffe4b3, orange);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #CCCC99, orange);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffe4b3, #ffa500);
    /* Standard syntax */
    font-size: 22px;
}
#navBody nav a:hover {
    background-color: #ffa500;
}
#restaurantInfo {
    font-size: 18px;
    margin-top: 20px;
}
#restaurantInfo table {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    width: 50%;
    max-height: 50%;
    height: ma-height;
}

/*Restaurant Info News*/
#restaurantNews{
    background: radial-gradient(circle, #006600, #ffff00, #ffe4b3);
    border-color: none;
    font-family: cursive;
    color: red;
}
#restaurantNews p{
    color: black;
}

/*Restaurant Image*/
#myImg img {
    margin: 0 auto;
}


/*Restaurant Menu Styling*/
#menuTop table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
#menuTop table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#menuBottom table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
#menuBottom table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Restaurant Contact Us Form Page*/
form{
    font-size: 20px;
}
form input[type=radio] {
    width: 25px;  height: 25px;
    vertical-align: text-bottom;
}
form input[type=checkbox] {
    width: 20px;  height: 20px;
}
#menuTop table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
}
#menuTop table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#menuBottom table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
}
#menuBottom table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



/*Site Footer*/
#restaurantFooter{
    font-size: 18px;
    background: linear-gradient(to bottom, orange, #ffe4b3, #ffe4b3); /* Standard syntax */
    border-top: 5px #eee solid;
}
